@model Product

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create New Product</h2>
			<hr />
		</div>
		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="mb-3">
			<label asp-for="WindowTypeId"></label>
			<select asp-for="WindowTypeId" asp-items="ViewBag.WindowTypeList" class="form-select">
				<option disabled selected>--Select Window Type--</option>
			</select>
			<span asp-validation-for="WindowTypeId" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="CleaningTypeId"></label>
			<select asp-for="CleaningTypeId" asp-items="@(ViewData["CleaningTypeList"] as IEnumerable<SelectListItem>)" class="form-select">
				<option disabled selected>--Select Cleaning Type--</option>
			</select>
			<span asp-validation-for="CleaningTypeId" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Description"></label>
			<textarea asp-for="Description" rows="3" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Price"></label>
			<input asp-for="Price" class="form-control" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}